node_modules/**/*
.vscode/
.expo/
src/constants/firebase.js
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

# OSX
#
.DS_Store

# Android/IntelliJ
android/
.idea
.tmp
.gradle
local.properties
*.iml

# Build
build/
